<footer class="site-footer h-card">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><img class="logo" alt="Ujued" src="https://dtxc.org/assets/img/favicon.ico" /></a>
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
        <h2 class="footer-heading">{{ site.id | escape }}</h2>
      </div>
      <div class="social-links">
        {%- include social.html -%}
      </div>
    </div>
  </div>
</footer>
