.site-header {
    font-family: Lato,Helvetica,sans-serif;
    border: none;
    padding: 5px 0;
}
.site-title {
    font: 1.6rem;
    font-weight: 700;
}

.logo {
    float: left;
    width: 66px; 
    height: 64px;
    border-radius: 35px;
    margin-right: 12px;
    border: 2px solid #eee;
    box-shadow: 0 0 30px #1C2835;
}