.site-header {
    font-family: Lato,Helvetica,sans-serif;
    border: none;
    padding: 5px 0;
    margin: 10px 0;
}
.site-title {
    font: 1.6rem;
    font-weight: 700;
    line-height: 78px;
    display: inline-block;
}

.logo {
    float: left;
    width: 66px; 
    height: 64px;
    border-radius: 35px;
    margin-right: 12px;
    border: 2px solid #eee;
}
