.site-header {
    font-family: Lato,Helvetica,sans-serif;
    border: none;
    padding: 5px 0;
}
.site-title {
    font: 1.6rem;
    font-weight: 700;
}
.logo {float: left; width: 64px; height: 64px;border-radius: 32px;margin-right: 10px;}